<%- include("partials/header") %>

<header>
  Track Films you've watched <br>
  Save Those you want to see
  <button>Sign Up</button>   
</header>

<form id="sign_in" action="">
  <fieldset>
    <label for="">Username</label>
    <input type="text">
    <label for="">Password</label>
    <input type="password">
    <button>Sign In</button>
  </fieldset>
</form>

<form id="sign_up" action="">
  <fieldset>
    <label for="first_name">First Name</label>
    <input id="first_name" type="text">
    <label for="">Last Name</label>
    <label for="">Username</label>
    <input type="text">
    <label for="">Password</label>
    <input type="password">
    <label for="">Retype Password</label>
    <input type="password">
    <button>Sign In</button>
  </fieldset>
</form>

<%- include("partials/footer") %>
